<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.Austerity.challenger_deep"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Challenger Deep</name>

  <description>
     Can you survive the White Water?
  </description>

  <author href="https://twitter.com/mausamiaryan?lang=en" email="support@phonegap.com">
      Shaurya Vatsal
  </author>

<icon src="icon.png" />

</widget>